# Config params - DO NOT COMMIT TO GIT!

twitch_client_id     = "foo"
twitch_client_secret = "bar"
slack_webhook_url    = "baz"
twitch_users         = "john, paul, george, ringo"
run_frequency        = 4
